<% include header %>
<script>
  $('#nav-inicio').addClass('active');
</script>
<div class="bg-vote">
  <div class="index-text">
    <h1>ELECCIONES 2020</h1>
    <a class="btn btn-info btn-lg" href="/votar" style="font-size: 20px">VOTAR</a>
  </div>
</div>
<% include footer %>
