<% include header %>
<div class="row justify-content-center h-100 mt-5">
    <div class="col-md-6 col-sm-12">
        <div class="card mt-md-5">
            <div class="card-header bg-light text-center">
                <strong>INGRESE SUS DATOS PARA VOTAR</strong>
            </div>
            <div class="card-body px-lg-5">
                <form class="text-center border border-light p-5" action="#!">

                    <input type="text" id="name" class="form-control mb-4" placeholder="Nombre">
                    <input type="text" id="lastname" class="form-control mb-4" placeholder="Apellido">

                    <input type="text" id="dni" class="form-control mb-4" placeholder="Número de DNI">

                    <label>Sexo</label>
                    <select class="browser-default custom-select mb-4">
                        <option value="" selected disabled>Elegir una opción...</option>
                        <option value="1">Femenino</option>
                        <option value="2">Masculino</option>
                    </select>

                    <!-- Botón votar -->
                    <button class="btn btn-info btn-block" type="submit">VOTAR</button>
                    <button class="btn btn-danger btn-block" type="submit">CANCELAR</button>

                </form>
            </div>
        </div>
    </div>
</div>
<% include footer %>